<div class="contact-banner">
  <div class="container contact-banner-container">
    <h1 class="contact-banner-heading">Ready to get started?</h1>
    <a href="#" class="contact-banner-btn btn-outline-dark">contact us</a>
  </div>
</div>

<style>
  /* Contact Banner */
  .contact-banner {
    background-color: var(--pink);
    width: 100%;
  }

  .contact-banner-container {
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .contact-banner-heading {
    font-size: 2.5rem;
    color: var(--dark-blue);
    line-height: 2.5rem;
  }

  .contact-banner-btn {
    font-weight: bold;
  }
  /* End of Contact Banner */
  @media screen and (max-width: 768px) {
    .contact-banner-container {
      flex-direction: column;
      justify-content: flex-start;
    }

    .contact-banner-heading {
      text-align: center;
    }

    .contact-banner-btn {
      margin-top: 1rem;
    }
  }
</style>
